.input-styling{
  width: 100%;

}
.upload-container{
  margin-bottom: 20px;
}
.uploading{
  margin: 5px;
}

@media (min-width: 772px) {
  .upload-button{
    padding-top: 100px;
  }
}
.create-event-container{
  min-height: 100vh;
}
